<script src="{{ url_for('static', filename='js/app_helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui_helpers.js') }}"></script>
<script src="{{ url_for('static', filename='js/auth_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/home_page_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/favourites_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/match_page_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/comparison_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/notification_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/profile_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/league_search_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/navigation_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/app_bootstrap.js') }}"></script>
